aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
distro==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
frozenlist==1.4.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.4
multidict==6.0.4
mypy==1.7.1
mypy-extensions==1.0.0
numpy==1.24.4
openai==1.7.2
openpyxl==3.1.2
pandas==2.0.3
pandas-stubs==2.0.3.230814
pdftotext==2.2.2
pydantic==2.5.3
pydantic_core==2.14.6
PyPDF2==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
tomli==2.0.1
tqdm==4.66.1
types-pytz==2023.3.1.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
yarl==1.9.2
